body {
  margin: 0;
}


/*  ***styling for the header and nav components *** */
header {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: sticky;
  top: 0;
}

.logospace {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo {
  margin: 0;
}

.top_nav {
  height: 35px;
  background: #333;
  color: white;
}


/*  ***styling for the main body section*** */
main {
  margin: 10px 100px;
}

.content {
  display: flex;
  /* align-content: space-between;
  justify-content: space-between; */
}

/* .container {
  border: 1px solid #333;
} */

.article_head {
  color: white;
  margin-top: 0;
  padding: .42em;
}

.card {
  margin: 5px;
  border: solid 3px black;
}


/* ***left container*** */
.container--left {
  flex: 3;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container--left article {
  margin-bottom: 25px;
}


/* ****Syling for Martin's Friends**** */
.fishlist {
  border: 3px solid forestgreen;
  margin: 10px;
  text-align: center;
}

.fishlist__header {
  background: forestgreen;
}

.fishlist__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fish__image {
  height: 13em;
}

.fish__detail {
  padding: 3px;
}


/* ***styling for quote section*** */
.quotes {
  border: 3px solid goldenrod;
  margin: 10px;
  padding-bottom: .83em;
  text-align: center;
}

.quote__header {
  background: goldenrod;
}


/* ***stlying for locations section*** */
.locations {
  border: 3px solid lightcoral;
  margin: 10px;
}

.locations__header {
  background: lightcoral;
  text-align: center;
}

.locations__container {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  justify-content: space-evenly;
}

.location {
  width: 300px;
}

.location__image {
  width: 100%;
}

.location__details {
  margin: 5px;
}

.location__name {
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
}


/*  ***right container*** */
.container--right {
  flex: 1;
  display: flex;
  justify-content: center;
}


/* ***styling for Tips section*** */
.tankTips {
  border: 3px solid dodgerblue;
  margin: 10px 0 25px 0;
  width: 100%;
}

.tankTips_head {
  background-color: dodgerblue;
  text-align: center;
}

.tip__img {
  width: 420px;
}

.tip__text {
  margin: 20px;
  text-align: center;
  font-weight: bold;
}


/* ***styling for Footer*** */

footer {
  display: flex;
  flex-direction: column;
  background-color: #333;
  position: sticky;
  bottom: 0;
  color: white;
  padding-right: 30px;
  text-align: end;
}

.copywrite {
  display: block;
    font-size: 1.17em;
    margin-block-start: 10px;
    margin-block-end: 10px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}